# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/bin/*
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar
